In [ ]:
from stoneforge.io.lasparser import parse_las_file

filepath = "../stoneforge/datasets/example_las3.las"
data = parse_las_file(filepath)
data.keys()

In [ ]:
class LASaccess:
    def __init__(self, filepath, version=3):
        self.filepath = filepath
        if version == 3:
            self.data = parse_las_file(filepath)
            self.tables = list(self.data.keys())
            
        if version == 2:
            raise NotImplementedError("LAS version 2 is not supported yet.")

    def get_data(self):
        return self.data

In [ ]:
las_manager = LASaccess(filepath, version=3)
las_data = las_manager.get_data()

In [ ]:
las_data.keys()

In [ ]:
from stoneforge.io.las2 import read
a = read(r"C:\Users\mario\Desktop\7-LL-11-RJS_WL.las")

In [3]:
from stoneforge.datasets import dataload

In [4]:
dataload.ik1()[0]

,DEPT,SP,ILD,ILM,LL8,GR,CALI,RHOB,DRHO,NPHI,DT
0,81.0,-999.0,-999.0,-999.0,-999.0,79.7502,-999.0,-999.0,-999.0,-999.0,-999.0
1,81.5,-999.0,-999.0,-999.0,-999.0,79.9790,-999.0,-999.0,-999.0,-999.0,-999.0
2,82.0,-999.0,-999.0,-999.0,-999.0,79.8643,-999.0,-999.0,-999.0,-999.0,-999.0
3,82.5,-999.0,-999.0,-999.0,-999.0,79.9446,-999.0,-999.0,-999.0,-999.0,-999.0
4,83.0,-999.0,-999.0,-999.0,-999.0,80.1459,-999.0,-999.0,-999.0,-999.0,-999.0
...,...,...,...,...,...,...,...,...,...,...,...
30796,15479.0,-999.0,-999.0,-999.0,-999.0,-999.0000,-999.0,-999.0,-999.0,-999.0,-999.0
30797,15479.5,-999.0,-999.0,-999.0,-999.0,-999.0000,-999.0,-999.0,-999.0,-999.0,-999.0
30798,15480.0,-999.0,-999.0,-999.0,-999.0,-999.0000,-999.0,-999.0,-999.0,-999.0,-999.0
30799,15480.5,-999.0,-999.0,-999.0,-999.0,-999.0000,-999.0,-999.0,-999.0,-999.0,-999.0
30800,15481.0,-999.0,-999.0,-999.0,-999.0,-999.0000,-999.0,-999.0,-999.0,-999.0,-999.0